body {
  padding: 0;
  font-family: sans-serif;
}

/* Top Games by platform */
.row {
  padding: 0;
}
.card {
  padding: 0;
}
.row .card:hover {
  opacity: 0.75;
  filter: alpha(opacity=50);
  cursor: pointer;
}
/* Recently added games */
#RA {
  padding: 40px 40px;
}
.card-group .card .text-success {
  padding-left: 20px;
  font-size: 20px;

}
.card-group .card .btn:hover {
  cursor: pointer;

}
/* Footer */
.container-fluid .bg-info {
  padding: 0;
}
